{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tweetle</title>
        <link rel="icon" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
            body { height: 100vh; }

            @media only screen and (max-width: 500px) {
                body { margin-top: 50px; height: auto; }
            }
        </style>
    </head>
    <body class="flex-center" style="gap: 20px;">
        <h1>Create your account</h1>
        <form method="post" style="margin: 40px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="margin-top: 30px; align-self: center;">Sign Up</button>
        </form>
    </body>
</html>